.modal-box-schema-module-content {
	&.schema-wrap {
		height: 100%;
		&.one-el {
			position: relative;
			padding: 2em;
			right: 0;
			left: 0;
			overflow-y: inherit;
			height: 100%;
			max-width: 60em;
			word-wrap: break-word;
		}
	}
}
.choose-modal-box-btn-container {
	margin: 2em 0 0 0;
	.t-btn-wrapper {
		margin: 0 0.5em 0 0;
	}
}


//.wild-label{
//  font-size: 16px!important;
//  font-weight: 500;
//}
//
//.deep-sky-blue-font{
//	color: #006CE0;
//}
//
//#CrocChooseTypeModalBoxReportCaptionLabel {
//	text-transform: uppercase;
//}
//
//#CrocChooseTypeModalBoxModuleButtonContainerContainer{
//	margin-top: 10px!important;
//}
//
//#CrocChooseTypeModalBoxModuleCancelButtonButton-textEl{
//	margin-left: 5%!important;
//}
//
//#CrocChooseTypeModalBoxModuleAcceptButtonButton-textEl{
//	margin-left: 20px!important;
//}
//
//#CrocChooseTypeModalBoxModuleColumnContainer_Label{
//	width: 10px!important;
//}

